@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');
@import 'variables';
@import 'mixins';
@import 'global';
@import 'navbar';
@import 'cars';
@import 'buttons';
@import 'animations';
@import 'about';
@import 'home';
@import 'car-details';
@import "contact";
@import 'language-switcher';